body, html {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 80px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hdr_logo {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
}

/*transition*/

.hdr_logo, .nav_menu_calendar, .nav_menu_email, .nav_menu_compass,
#sign_up, #log_in_hdr, #log_in_mn, .btn_fb, .btn_google,
.check_terms, .reg_form_btn  {
    transition: .5s;
}

.hdr_logo:hover {
    color: #236c47;
}

.hdr_nav_menu {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav_menu_calendar {
    display: inline-block;
    width: 21px;
    height: 24px;
    background-image: url("/images/icon/calendar.svg");
}

.nav_menu_calendar:hover {
    background-image: url("/images/icon/calendar_hvr.svg");
}

.nav_menu_email {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url("/images/icon/email.svg");
}

.nav_menu_email:hover {
    background-image: url("/images/icon/email_hover.svg");
}

.nav_menu_compass {
    display: inline-block;
    width: 23px;
    height: 24px;
    background-image: url("/images/icon/compass.svg");
}

.nav_menu_compass:hover {
    background-image: url("/images/icon/compass_hover.svg");
}

.nav_menu_brd {
    height: 18px;
    opacity: 0.5;
    border-left: 1px solid rgba(255, 255, 255, 0.90);
}

.nav_menu_welcome, #log_in_hdr, #sign_up, #log_in_mn, .mn_or
.checkbox, .check_terms {
    color: var(--txt_col, #fff);
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

#log_in_hdr:hover, #sign_up:hover {
    --txt_col: #236c47;
}

.main {
    padding: 30px 60px 38px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn_fb, .btn_google {
    width: 160px;
    height: 48px;
    padding: 10px 0 10px 50px;
    border-radius: 5px;
    background-color: var(--btn_color, #305DB8);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    position: relative;
    
}

.btn_fb {
    background-image: url("data:image/svg+xml,\
    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'>\
    <path d='M13.8586 24V13.0533H17.5315L18.0826 8.78588H13.8586V6.06176C13.8586 4.82664 14.2002 3.98492 15.9734 3.98492L18.2312 3.98399V0.167076C17.8408 0.116334 16.5004 0 14.9405 0C11.6829 0 9.45278 1.98836 9.45278 5.63912V8.78588H5.76875V13.0533H9.45278V24H13.8586Z' fill='white'/>\
    </svg>");
}

.btn_fb:hover {
    --btn_color: #022263;
}

.btn_fb::before {
    display: block;
    content: '';
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #0A162F;
    position: absolute;
    left: 30%;
    top: 20%;
}

.btn_google {
    --btn_color: #DF4A32;
    background-image: url("/images/icon/google.png");
    background-size: 30px 19px;
}

.btn_google:hover {
    --btn_color: #AB1F09;
}

.btn_google::before {
    display: block;
    content: '';
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #2B0D09;
    position: absolute;
    left: 30%;
    top: 20%;
}

.main {
    padding: 30px 60px 38px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.mn_title, .social_btn {
    display: flex;
    justify-content: space-between;
}

.mn_sign_up {
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}

#log_in_mn {
    --txt_col: #3CB878;
}

#log_in_mn:hover {
    text-decoration: underline #3CB878;
}

.social_btn {
    margin-top: 16px;
}

.mn_or {
    margin-top: 30px;
    text-align: center;
    --txt_col: #848484;
    position: relative;
}

.mn_or::before {
    display: block;
    content: '';
    width: 152px;
    height: 1px;
    opacity: 0.1;
    background: #F2F2F2;
    position: absolute;
    left: auto;
    bottom: 40%;
}

.mn_or::after {
    display: block;
    content: '';
    width: 152px;
    height: 1px;
    opacity: 0.1;
    background: #F2F2F2;
    position: absolute;
    left: 57%;
    bottom: 40%;
}

.reg_form {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.reg_form_item {
    box-sizing: border-box;
    width: 350px;
    height: 46px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */

}

.reg_form_item::placeholder {
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.reg_form_item:focus {
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    outline: 0;
}

.checkbox {
    --txt_col: #434343;
}

.check_terms {
    padding-top: 2px;
    --txt_col: #3CB878;
}

#label_check {
    width: 100%;
    position: relative;
}

input[type="checkbox"] {
    appearance: none;
    background: #fff;
    border: 1px solid #F2F2F2;
    height: 20px;
    width: 20px;
    border-radius: 0;
    vertical-align: middle;
    position: relative;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    top: 0;
}

input[type="checkbox"]:checked::before {
    border-right: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    height: 80%;
    width: 40%;
    transform: rotate(40deg) translateY(-10%) translateX(0);
}

.check_terms:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.reg_form_btn {
    width: 100%;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    border: none;
}

.reg_form_btn:hover {
    background: #01813F;
}

.mn_green_sq {
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 30px;
    left: 0;
}